################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LoyaltyManagement/v16/Server/sqlite3
/LoyaltyManagement.API/obj
/LoyaltyManagement.BLL/obj
/LoyaltyManagement.DAL/obj
/LoyaltyManagement.IntegrationTest/obj
/LoyaltyManagement.UI/obj
/LoyaltyManagement.UnitTests/obj
